body {
    font: x-small verdana,arial;
    font-weight: normal;
}

#used {
    position: absolute;
    left: 810px; 
    width: 400px;
    height: 200px;
}

#toplist {
    position: absolute;
    left: 810px;
    top: 210px;
}

canvas { 
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #808080;
    border: 1px solid black;
}
