body {
    font: x-small verdana,arial;
    font-weight: normal;
}

#hiscore {
    display: none;
}

#game {
    display: block;
}

#score {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 510px; 
}

#word {
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 510px; 
}

#time {
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 510px; 
}

#button {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    padding: 100px;
    color: white;
    background-color: gray;
    top: 110px;
    left: 510px;
}

#allwords {
    position: absolute;
    top: 550px;
    left: 510px; 
}

#used {
    position: absolute;
    top: 350px;
    left: 510px; 
    width: 400px;
    height: 200px;
}

canvas { 
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #808080;
    border: 1px solid black;
}
